#!/bin/bash

hc_url=your.url.here


max_partition_usage=$(df -h | sort -r -k 5 | awk 'FNR == 2 { print $5 }' | grep -o -E '[0-9]+')
if [ $max_partition_usage -ge 90 ]; then
    curl -m 10 --retry 5 $hc_url/fail
else
    curl -m 10 --retry 5 $hc_url
fi
